<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th=" https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Pesquisa de Títulos</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
<body>
	<nav class="navbar navbar-light bg-dark">
		<a class="navbar-brand" href="#"> 
			<img alt="infratech" src="/images/infratech.png"/>
		</a>
	</nav>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>	

</html>